:root {
  --roxo: #453c5c;
  --roxo-cinzento : #51647a;
  --azul: #31ada1;
  --verde: #59d999;
  --verde-sucesso: #beed80;
  --preto-texto: #1f1f1f;
  --branco-leve: #e4e4e4;
}

/* Estilos gerais */
body {
    background-color: var(--branco-leve);
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--roxo);
  font-weight: bold;
  color: #fff;
}

.update-button {
  max-width: 356px;
  width: auto;
}

/* Cabeçalho */
.header {
  background-color: var(--roxo) !important;
  margin-bottom: 2rem;
}

.navbar a, .navbar a:hover, .navbar a:visited {
  color: #fff;
}

.active {
  background-color: #fff;
  color: var(--roxo);
}

/* Dashboard */
.updated-at {
  width: fit-content;
  margin: auto;
  margin-left: 0;
  padding-left: 0;
}

.quadroLogin{
  background-color: #fff;
  border-radius: 4px;
  padding: 2%;
}

.quadroScore{
  background-color: var(--roxo);
  color: #fff;
  border-radius: 6px;
  padding: 2%;
  margin-top: 2rem;
}

.score {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 10px;
  background: #fff;
  border: 3px solid var(--preto-texto);
  color: var(--preto-texto);
  font-size: 5em;
  font-weight: 600;
  line-height: 160px;
  text-align: center;
}

.quadro {
  background-color: #fff;
  color: var(--preto-texto);
  border-radius: 4px;
  padding: 2%;
}

.titulo {  
  width: auto;
  font-weight: 700;
  color: var(--preto-texto);
  font-size: 1.8em;
  border-top: 4px solid var(--roxo);
  width: fit-content;
  margin-right: auto;
  margin-bottom: 2rem;
}

.listas {
  font-size: 1.5em;
}

.lista {
  border-bottom: solid #c9c9c9;
}

.movimentacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.movimentacao--icon {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1rem;
  background: var(--branco-leve);
  max-width: 121px;
  max-height: 121px;
}

.movimentacao--icon span {
  aspect-ratio: 1/1;
  font-size: 3.625rem;
  color: var(--roxo);
}

.movimentacao--categoria {
  font-size: 2rem;
  font-weight: 600;
}

.movimentacao--description {
  margin-bottom: 0;
}

.movimentacao--preco {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: right;
}